[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fn = "*"
hypothesis = "*"
openpyxl = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
xlrd = "*"
xlwt = "*"

[packages]
atomicwrites = "*"
luigi = "*"
pyyaml = "*"
pandas = "*"
fastparquet = "*"
specl = {editable = true,path = "."}

[requires]
python_version = "3.7"
